.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(http://reader13.docslide.net/store13/html5/392015/557201694979599169a182ca/f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(http://reader13.docslide.net/store13/html5/392015/557201694979599169a182ca/f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.156250;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(http://reader13.docslide.net/store13/html5/392015/557201694979599169a182ca/f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.306723,0.000000,0.000000,0.306723,0,0);-ms-transform:matrix(0.306723,0.000000,0.000000,0.306723,0,0);-webkit-transform:matrix(0.306723,0.000000,0.000000,0.306723,0,0);}
.m1{transform:matrix(1.226891,0.000000,0.000000,1.226891,0,0);-ms-transform:matrix(1.226891,0.000000,0.000000,1.226891,0,0);-webkit-transform:matrix(1.226891,0.000000,0.000000,1.226891,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._5{margin-left:-5.308416px;}
._3{margin-left:-4.005888px;}
._2{margin-left:-2.285568px;}
._1{margin-left:-1.277952px;}
._0{width:1.449984px;}
._4{width:2.482176px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(53,109,169);}
.fs3{font-size:39.936000px;}
.fs1{font-size:43.008000px;}
.fs0{font-size:49.152000px;}
.fs4{font-size:73.728001px;}
.fs2{font-size:86.016001px;}
.y62{bottom:1.884526px;}
.y38{bottom:4.711260px;}
.y84{bottom:7.538053px;}
.y96{bottom:10.364817px;}
.y26{bottom:16.960538px;}
.yb7{bottom:17.902809px;}
.y74{bottom:17.902819px;}
.y51{bottom:21.671813px;}
.y44{bottom:24.498562px;}
.y25{bottom:33.921076px;}
.yb6{bottom:34.863347px;}
.y73{bottom:34.863357px;}
.y1{bottom:35.314815px;}
.y0{bottom:35.579832px;}
.y61{bottom:36.747854px;}
.y95{bottom:42.401389px;}
.y52{bottom:45.394958px;}
.y53{bottom:45.679588px;}
.y64{bottom:46.621840px;}
.y63{bottom:46.621849px;}
.y24{bottom:50.881614px;}
.yb5{bottom:51.823885px;}
.y83{bottom:53.708407px;}
.y43{bottom:56.535134px;}
.y23{bottom:67.842152px;}
.yb4{bottom:68.784423px;}
.y82{bottom:70.668945px;}
.y94{bottom:74.437960px;}
.yb3{bottom:85.744961px;}
.y60{bottom:85.744964px;}
.y81{bottom:87.629483px;}
.y22{bottom:99.878723px;}
.y93{bottom:106.474532px;}
.y21{bottom:116.839261px;}
.yb2{bottom:117.781533px;}
.y80{bottom:119.666054px;}
.y92{bottom:123.435070px;}
.y3a{bottom:128.597773px;}
.y39{bottom:128.823529px;}
.y5f{bottom:131.915317px;}
.yb1{bottom:134.742071px;}
.y7f{bottom:136.626592px;}
.y91{bottom:140.395608px;}
.y20{bottom:148.875833px;}
.y5e{bottom:148.875855px;}
.yb0{bottom:151.702609px;}
.y7e{bottom:153.587130px;}
.y1f{bottom:165.836371px;}
.y5d{bottom:165.836393px;}
.y1e{bottom:182.796909px;}
.yaf{bottom:183.739180px;}
.y1d{bottom:199.757447px;}
.yae{bottom:200.699718px;}
.y1c{bottom:216.717985px;}
.yad{bottom:217.660256px;}
.y1b{bottom:233.678523px;}
.y50{bottom:234.620790px;}
.yac{bottom:234.620794px;}
.y72{bottom:247.812334px;}
.yab{bottom:251.581332px;}
.y42{bottom:258.177085px;}
.y1a{bottom:265.715094px;}
.yaa{bottom:268.541870px;}
.y97{bottom:271.756303px;}
.y71{bottom:279.848905px;}
.ya9{bottom:285.502408px;}
.y41{bottom:290.213657px;}
.y98{bottom:296.318644px;}
.y70{bottom:296.809443px;}
.y19{bottom:297.751666px;}
.y40{bottom:307.174195px;}
.y6f{bottom:313.769981px;}
.y18{bottom:314.712204px;}
.ya8{bottom:317.538980px;}
.y6e{bottom:330.730519px;}
.ya7{bottom:334.499518px;}
.y17{bottom:346.748776px;}
.ya6{bottom:351.460055px;}
.y16{bottom:363.709314px;}
.y6d{bottom:365.593847px;}
.y7d{bottom:366.536107px;}
.ya5{bottom:368.420593px;}
.y5c{bottom:378.785370px;}
.y15{bottom:380.669852px;}
.ya4{bottom:385.381131px;}
.y6c{bottom:411.764201px;}
.y14{bottom:412.706423px;}
.ya3{bottom:417.417703px;}
.y4f{bottom:419.302203px;}
.y6b{bottom:428.724739px;}
.y13{bottom:429.666961px;}
.y90{bottom:431.551509px;}
.ya2{bottom:434.378241px;}
.y6a{bottom:445.685277px;}
.y12{bottom:446.627499px;}
.y8f{bottom:448.512047px;}
.ya1{bottom:451.338779px;}
.y11{bottom:463.588037px;}
.y69{bottom:477.721848px;}
.y10{bottom:480.548575px;}
.ya0{bottom:483.375351px;}
.y68{bottom:494.682386px;}
.y9f{bottom:500.335889px;}
.y3f{bottom:508.816146px;}
.y37{bottom:510.700642px;}
.yf{bottom:515.411903px;}
.y9e{bottom:517.296427px;}
.y9d{bottom:534.256964px;}
.y36{bottom:542.737214px;}
.ye{bottom:561.582256px;}
.y9c{bottom:566.293536px;}
.y35{bottom:574.773786px;}
.y7c{bottom:579.485083px;}
.y9b{bottom:583.254074px;}
.y5b{bottom:591.734346px;}
.yd{bottom:593.618828px;}
.y4e{bottom:603.983616px;}
.y34{bottom:606.810357px;}
.y5a{bottom:608.694884px;}
.y7b{bottom:611.521655px;}
.y9a{bottom:618.117402px;}
.y4d{bottom:620.944154px;}
.yc{bottom:625.655400px;}
.y59{bottom:625.655422px;}
.y7a{bottom:628.482193px;}
.y4c{bottom:637.904692px;}
.y33{bottom:638.846929px;}
.yb{bottom:642.615938px;}
.y58{bottom:642.615960px;}
.y79{bottom:645.442731px;}
.y4b{bottom:654.865230px;}
.ya{bottom:659.576476px;}
.y78{bottom:662.403269px;}
.y99{bottom:667.114512px;}
.y32{bottom:670.883501px;}
.y4a{bottom:671.825768px;}
.y57{bottom:677.479288px;}
.y31{bottom:687.844039px;}
.y9{bottom:691.613047px;}
.y77{bottom:694.439840px;}
.y49{bottom:706.689096px;}
.y67{bottom:707.631363px;}
.y30{bottom:719.880610px;}
.y8e{bottom:722.707411px;}
.y8{bottom:723.649619px;}
.y56{bottom:726.476397px;}
.y76{bottom:729.303168px;}
.y2f{bottom:751.917182px;}
.y48{bottom:752.859449px;}
.y8d{bottom:754.743982px;}
.y3e{bottom:757.570703px;}
.y7{bottom:758.512947px;}
.y2e{bottom:768.877720px;}
.y47{bottom:769.819987px;}
.y55{bottom:772.646751px;}
.y3d{bottom:774.531241px;}
.y46{bottom:786.780525px;}
.y8c{bottom:786.780554px;}
.y54{bottom:789.607289px;}
.y3c{bottom:791.491778px;}
.y2d{bottom:800.914292px;}
.y45{bottom:803.741063px;}
.y8b{bottom:803.741092px;}
.y6{bottom:804.683300px;}
.y2c{bottom:817.874830px;}
.y8a{bottom:820.701630px;}
.y3b{bottom:826.355106px;}
.y5{bottom:836.719872px;}
.y2b{bottom:849.911401px;}
.y89{bottom:852.738202px;}
.y88{bottom:869.698740px;}
.y2a{bottom:881.947973px;}
.y87{bottom:886.659278px;}
.y4{bottom:887.601486px;}
.y86{bottom:903.619816px;}
.y29{bottom:913.984545px;}
.y66{bottom:920.580339px;}
.y28{bottom:930.945083px;}
.y85{bottom:935.656387px;}
.y65{bottom:937.540877px;}
.y3{bottom:940.367604px;}
.y2{bottom:941.309856px;}
.y27{bottom:947.905621px;}
.y75{bottom:948.847910px;}
.h3{height:35.784000px;}
.h6{height:35.802000px;}
.h4{height:38.556000px;}
.h8{height:44.064000px;}
.h9{height:53.676000px;}
.h7{height:66.096001px;}
.h5{height:77.112001px;}
.h13{height:701.977825px;}
.h12{height:726.319328px;}
.hb{height:869.252101px;}
.hc{height:869.698696px;}
.h10{height:951.453782px;}
.h11{height:951.674629px;}
.hf{height:952.616881px;}
.he{height:952.680672px;}
.h2{height:955.443638px;}
.h1{height:962.495798px;}
.ha{height:962.981654px;}
.hd{height:963.109244px;}
.h0{height:1033.042017px;}
.w2{width:644.500446px;}
.w1{width:659.453782px;}
.w0{width:730.000000px;}
.x4{left:0.000000px;}
.x2{left:20.729546px;}
.x0{left:34.966387px;}
.x1{left:42.283563px;}
.x3{left:165.836371px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._5{margin-left:-5.768964pt;}
._3{margin-left:-4.353431pt;}
._2{margin-left:-2.483859pt;}
._1{margin-left:-1.388825pt;}
._0{width:1.575782pt;}
._4{width:2.697525pt;}
.fs3{font-size:43.400767pt;}
.fs1{font-size:46.739288pt;}
.fs0{font-size:53.416329pt;}
.fs4{font-size:80.124494pt;}
.fs2{font-size:93.478576pt;}
.y62{bottom:2.048024pt;}
.y38{bottom:5.120000pt;}
.y84{bottom:8.192040pt;}
.y96{bottom:11.264048pt;}
.y26{bottom:18.432000pt;}
.yb7{bottom:19.456021pt;}
.y74{bottom:19.456032pt;}
.y51{bottom:23.552016pt;}
.y44{bottom:26.624008pt;}
.y25{bottom:36.864000pt;}
.yb6{bottom:37.888021pt;}
.y73{bottom:37.888032pt;}
.y1{bottom:38.378657pt;}
.y0{bottom:38.666667pt;}
.y61{bottom:39.936024pt;}
.y95{bottom:46.080048pt;}
.y52{bottom:49.333333pt;}
.y53{bottom:49.642657pt;}
.y64{bottom:50.666657pt;}
.y63{bottom:50.666667pt;}
.y24{bottom:55.296000pt;}
.yb5{bottom:56.320021pt;}
.y83{bottom:58.368040pt;}
.y43{bottom:61.440009pt;}
.y23{bottom:73.728000pt;}
.yb4{bottom:74.752021pt;}
.y82{bottom:76.800040pt;}
.y94{bottom:80.896048pt;}
.yb3{bottom:93.184022pt;}
.y60{bottom:93.184025pt;}
.y81{bottom:95.232040pt;}
.y22{bottom:108.544001pt;}
.y93{bottom:115.712048pt;}
.y21{bottom:126.976001pt;}
.yb2{bottom:128.000022pt;}
.y80{bottom:130.048041pt;}
.y92{bottom:134.144049pt;}
.y3a{bottom:139.754657pt;}
.y39{bottom:140.000000pt;}
.y5f{bottom:143.360025pt;}
.yb1{bottom:146.432022pt;}
.y7f{bottom:148.480041pt;}
.y91{bottom:152.576049pt;}
.y20{bottom:161.792001pt;}
.y5e{bottom:161.792025pt;}
.yb0{bottom:164.864022pt;}
.y7e{bottom:166.912041pt;}
.y1f{bottom:180.224001pt;}
.y5d{bottom:180.224025pt;}
.y1e{bottom:198.656001pt;}
.yaf{bottom:199.680022pt;}
.y1d{bottom:217.088002pt;}
.yae{bottom:218.112022pt;}
.y1c{bottom:235.520002pt;}
.yad{bottom:236.544023pt;}
.y1b{bottom:253.952002pt;}
.y50{bottom:254.976018pt;}
.yac{bottom:254.976023pt;}
.y72{bottom:269.312034pt;}
.yab{bottom:273.408023pt;}
.y42{bottom:280.576010pt;}
.y1a{bottom:288.768002pt;}
.yaa{bottom:291.840023pt;}
.y97{bottom:295.333333pt;}
.y71{bottom:304.128034pt;}
.ya9{bottom:310.272023pt;}
.y41{bottom:315.392011pt;}
.y98{bottom:322.026654pt;}
.y70{bottom:322.560034pt;}
.y19{bottom:323.584002pt;}
.y40{bottom:333.824011pt;}
.y6f{bottom:340.992035pt;}
.y18{bottom:342.016002pt;}
.ya8{bottom:345.088023pt;}
.y6e{bottom:359.424035pt;}
.ya7{bottom:363.520024pt;}
.y17{bottom:376.832003pt;}
.ya6{bottom:381.952024pt;}
.y16{bottom:395.264003pt;}
.y6d{bottom:397.312035pt;}
.y7d{bottom:398.336043pt;}
.ya5{bottom:400.384024pt;}
.y5c{bottom:411.648027pt;}
.y15{bottom:413.696003pt;}
.ya4{bottom:418.816024pt;}
.y6c{bottom:447.488035pt;}
.y14{bottom:448.512003pt;}
.ya3{bottom:453.632024pt;}
.y4f{bottom:455.680020pt;}
.y6b{bottom:465.920036pt;}
.y13{bottom:466.944003pt;}
.y90{bottom:468.992051pt;}
.ya2{bottom:472.064024pt;}
.y6a{bottom:484.352036pt;}
.y12{bottom:485.376004pt;}
.y8f{bottom:487.424051pt;}
.ya1{bottom:490.496025pt;}
.y11{bottom:503.808004pt;}
.y69{bottom:519.168036pt;}
.y10{bottom:522.240004pt;}
.ya0{bottom:525.312025pt;}
.y68{bottom:537.600036pt;}
.y9f{bottom:543.744025pt;}
.y3f{bottom:552.960013pt;}
.y37{bottom:555.008004pt;}
.yf{bottom:560.128004pt;}
.y9e{bottom:562.176025pt;}
.y9d{bottom:580.608025pt;}
.y36{bottom:589.824004pt;}
.ye{bottom:610.304005pt;}
.y9c{bottom:615.424026pt;}
.y35{bottom:624.640005pt;}
.y7c{bottom:629.760045pt;}
.y9b{bottom:633.856026pt;}
.y5b{bottom:643.072029pt;}
.yd{bottom:645.120005pt;}
.y4e{bottom:656.384021pt;}
.y34{bottom:659.456005pt;}
.y5a{bottom:661.504029pt;}
.y7b{bottom:664.576045pt;}
.y9a{bottom:671.744026pt;}
.y4d{bottom:674.816021pt;}
.yc{bottom:679.936005pt;}
.y59{bottom:679.936029pt;}
.y7a{bottom:683.008045pt;}
.y4c{bottom:693.248021pt;}
.y33{bottom:694.272005pt;}
.yb{bottom:698.368005pt;}
.y58{bottom:698.368029pt;}
.y79{bottom:701.440045pt;}
.y4b{bottom:711.680022pt;}
.ya{bottom:716.800005pt;}
.y78{bottom:719.872045pt;}
.y99{bottom:724.992026pt;}
.y32{bottom:729.088005pt;}
.y4a{bottom:730.112022pt;}
.y57{bottom:736.256030pt;}
.y31{bottom:747.520005pt;}
.y9{bottom:751.616006pt;}
.y77{bottom:754.688046pt;}
.y49{bottom:768.000022pt;}
.y67{bottom:769.024038pt;}
.y30{bottom:782.336006pt;}
.y8e{bottom:785.408054pt;}
.y8{bottom:786.432006pt;}
.y56{bottom:789.504030pt;}
.y76{bottom:792.576046pt;}
.y2f{bottom:817.152006pt;}
.y48{bottom:818.176022pt;}
.y8d{bottom:820.224054pt;}
.y3e{bottom:823.296015pt;}
.y7{bottom:824.320006pt;}
.y2e{bottom:835.584006pt;}
.y47{bottom:836.608023pt;}
.y55{bottom:839.680031pt;}
.y3d{bottom:841.728015pt;}
.y46{bottom:855.040023pt;}
.y8c{bottom:855.040054pt;}
.y54{bottom:858.112031pt;}
.y3c{bottom:860.160015pt;}
.y2d{bottom:870.400006pt;}
.y45{bottom:873.472023pt;}
.y8b{bottom:873.472054pt;}
.y6{bottom:874.496007pt;}
.y2c{bottom:888.832007pt;}
.y8a{bottom:891.904055pt;}
.y3b{bottom:898.048015pt;}
.y5{bottom:909.312007pt;}
.y2b{bottom:923.648007pt;}
.y89{bottom:926.720055pt;}
.y88{bottom:945.152055pt;}
.y2a{bottom:958.464007pt;}
.y87{bottom:963.584055pt;}
.y4{bottom:964.608007pt;}
.y86{bottom:982.016055pt;}
.y29{bottom:993.280007pt;}
.y66{bottom:1000.448040pt;}
.y28{bottom:1011.712008pt;}
.y85{bottom:1016.832055pt;}
.y65{bottom:1018.880040pt;}
.y3{bottom:1021.952008pt;}
.y2{bottom:1022.976008pt;}
.y27{bottom:1030.144008pt;}
.y75{bottom:1031.168048pt;}
.h3{height:38.888548pt;}
.h6{height:38.908110pt;}
.h4{height:41.901041pt;}
.h8{height:47.886904pt;}
.h9{height:58.332822pt;}
.h7{height:71.830357pt;}
.h5{height:83.802083pt;}
.h13{height:762.880011pt;}
.h12{height:789.333333pt;}
.hb{height:944.666667pt;}
.hc{height:945.152008pt;}
.h10{height:1034.000000pt;}
.h11{height:1034.240008pt;}
.hf{height:1035.264008pt;}
.he{height:1035.333333pt;}
.h2{height:1038.336008pt;}
.h1{height:1046.000000pt;}
.ha{height:1046.528008pt;}
.hd{height:1046.666667pt;}
.h0{height:1122.666667pt;}
.w2{width:700.416010pt;}
.w1{width:716.666667pt;}
.w0{width:793.333333pt;}
.x4{left:0.000000pt;}
.x2{left:22.528000pt;}
.x0{left:38.000000pt;}
.x1{left:45.952000pt;}
.x3{left:180.224001pt;}
}
